<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} This is the admin base {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{#      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.0/chart.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.0/chart.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script>


        {#document.getElementById('main_site').style.display = 'none'#}

  </script>
  <style>/*
      .load_animation{
          position: absolute;
          z-index: 999999;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
      }*/
  </style>
    {% block link %}
    {% endblock %}
  </head>
  <body>
{##}
{#  <div class="bg-white p-5 load-animation " style="width: 500px; height: 500px; text-align: center;margin: 200px auto">#}
{#      <div style=" text-align: center">#}
{#          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" style="height: 200px; width: 300px">#}
{#      </div>#}
{##}
{#      <div class="">#}
{#          <div style="text-align: center">#}
{#              <img src="https://i.pinimg.com/originals/24/07/b5/2407b512f6f2eec61cd2f3136242a025.gif" style="height: 180px; width: 280px">#}
{#              <p class="display-5">Loading...</p>#}
{#          </div>#}
{##}
{#      </div>#}
{#  </div>#}



  <div class="container-scroller" id="main_site">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="{% url 'adminDashboard' %}">QuickBooking.lk</a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'adminDashboard' %}"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
{#          <div class="search-field d-none d-md-block">#}
{#            <form class="d-flex align-items-center h-100" action="#">#}
{#              <div class="input-group">#}
{#                <div class="input-group-prepend bg-transparent">#}
{#                  <i class="input-group-text border-0 mdi mdi-magnify"></i>#}
{#                </div>#}
{#                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects" >#}
{#              </div>#}
{#            </form>#}
{#          </div>#}
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">

                <div class="nav-profile-img">
                {% if user.is_authenticated %}
                    {% if user.is_authenticated and user.is_superuser %}
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="image">
                        {% else %}
                  <img src="https://t3.ftcdn.net/jpg/04/51/93/48/360_F_451934847_V7rc18Ibs9UNU5sSihQBY0MzSDgei4Cr.jpg" alt="image">
                        {% endif %}
                    {% if user.is_active %}
                  <span class="availability-status online"></span>
                    {% endif %}
                </div>

                    <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ user.username }}</p>
                </div>
                  {% endif %}
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                  {%  if user.is_authenticated and user.is_superuser %}
                      <a class="dropdown-item" href="{% url 'index' %}">
                  <i class="bi bi-file-break me-2 text-success"></i> Home page </a>
                <a class="dropdown-item" href="{% url 'register' %}">
                  <i class="mdi mdi-account-multiple-plus me-2 text-success"></i> Register Drivers </a>
                  {% endif %}
                <div class="dropdown-divider"></div>
              <!-- The logout form -->


                <a class="dropdown-item" href="{% url 'logout_me' %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Log Out </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="{% url 'adminDashboard' %}" class="nav-link">
                <div class="nav-profile-image">
                    {% if user.is_authenticated and user.is_superuser %}
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="profile">
                        {% else %}
                  <img src="https://t3.ftcdn.net/jpg/04/51/93/48/360_F_451934847_V7rc18Ibs9UNU5sSihQBY0MzSDgei4Cr.jpg" alt="image">
                        {% endif %}

                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>

                  {% if user.is_authenticated %}
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">{{ user.username }}</span>
                        <span class="text-secondary text-small">{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                      {% if user.is_superuser %}
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        {% endif %}
                  {% endif %}
              </a>
            </li>
          {%  if user.is_authenticated and user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminDashboard' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Registrations</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'bus registration' %}">Bus Registration</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'route registration' %}">Route Registration</a></li>
                   <li class="nav-item"> <a class="nav-link" href="{% url 'bus and route update' %}">Bus and Routes updates</a></li>
                </ul>
              </div>
            </li>
              <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-ticket" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Ticket Details</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
              <div class="collapse" id="ui-ticket">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'ticket' %}">Today Ticket Details</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'older_ticket_details' %}">Refund Ticket Details</a></li>
{#                   <li class="nav-item"> <a class="nav-link" href="{% url 'bus and route update' %}">Bus and Routes updates</a></li>#}
                </ul>
              </div>
            </li>

{#              <li class="nav-item">#}
{#              <a class="nav-link" href="{% url 'ticket' %}">#}
{#                <span class="menu-title"> </span>#}
{#                <i class="mdi mdi-chart-bar menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'news latter and update' %}">
                <span class="menu-title">News letters</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="pages/forms/basic_elements.html">#}
{#                <span class="menu-title">Create post</span>#}
{#                <i class="mdi mdi-format-list-bulleted menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inquiry' %}">
                <span class="menu-title">Feedback </span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>


{#            <li class="nav-item">#}
{#              <a class="nav-link" href="pages/tables/basic-table.html">#}
{#                <span class="menu-title">Show System Details</span>#}
{#                <i class="mdi mdi-table-large menu-icon"></i>#}
{#              </a>#}
{#            </li>#}


{#            <li class="nav-item">#}
{#              <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">#}
{#                <span class="menu-title">Sample Pages</span>#}
{#                <i class="menu-arrow"></i>#}
{#                <i class="mdi mdi-medical-bag menu-icon"></i>#}
{#              </a>#}
{#              <div class="collapse" id="general-pages">#}
{#                <ul class="nav flex-column sub-menu">#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>#}
{#                </ul>#}
{#              </div>#}
{#            </li>#}
{#            <li class="nav-item sidebar-actions">#}
{#              <span class="nav-link">#}
{#                <div class="border-bottom">#}
{#                  <h6 class="font-weight-normal mb-3">Projects</h6>#}
{#                </div>#}
{#                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>#}
{#              </span>#}
{#            </li>#}
          {% endif %}
<!--************************************************* custom account *********************************************** -->
           <li class="nav-item">
              <a class="nav-link" href="{% url 'scan_qr_code' %}">
                <span class="menu-title">Scan QR code</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
  <!--************************************************* main ******************************************************* -->
    {% block main %}
          <!--****************************************** Code Inject *********************************************** -->
    {% endblock %}
  <!--************************************************* end ******************************************************** -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
{#    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>#}
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
{#    <script src="{% static 'js/dashboard.js' %}"></script>#}
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- End custom js for this page -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block js %}

    {% endblock %}
  </div>
  </body>
</html>