@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Alike|Roboto:300,400,500,700,900');

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 500;
	color: #717171;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(218,134,97,1);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Alike', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #2e3f61;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_title_container
{
	padding-top: 52px;
}
.section_title_container::after
{
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 3px;
	height: 30px;
	background: #da8661;
	content: '';
}
.section_title_container_2
{
	padding-top: 52px;
}
.section_title_container_2::after
{
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 30px;
	background: #da8661;
	content: '';
}
.section_title h1
{
	color: #2e3f61;
}
.section_text
{
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	font-size: 16px;
	font-weight: 500;
	color: #717171;
	line-height: 2.25;
}
.button
{
	width: 186px;
	height: 63px;
	background: #637496;
	text-align: center;
}
.button::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	content: '';
	background: #da8661;
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.button:hover::before
{
	width: 100%;
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 63px;
	text-transform: uppercase;
	z-index: 1;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	left: 0;
	top: -100vh;
	width: 100vw;
	height: 100vh;
	background: #0b1423;
	z-index: 99;
	-webkit-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-moz-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-ms-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-o-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	transition: all 800ms cubic-bezier(.88,.31,.65,.91);
}
.menu.active
{
	top: 0;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_nav_list li
{
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.menu_nav_list li:first-child
{
	transition-delay: 400ms;
}
.menu_nav_list li:nth-child(2)
{
	transition-delay: 500ms;
}
.menu_nav_list li:nth-child(3)
{
	transition-delay: 600ms;
}
.menu_nav_list li:nth-child(4)
{
	transition-delay: 700ms;
}
.menu_nav_list li:nth-child(5)
{
	transition-delay: 800ms;
}
.menu_nav_list li:nth-child(6)
{
	transition-delay: 900ms;
}
.menu_nav_list li:nth-child(7)
{
	transition-delay: 1000ms;
}
.menu_nav_list li:nth-child(8)
{
	transition-delay: 1100ms;
}
.menu_nav_list li:nth-child(9)
{
	transition-delay: 1200ms;
}
.menu.active .menu_nav_list li
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
	opacity: 1;
}
.menu_nav_list li a
{
	position: relative;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.3;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu_nav_list li a::after
{
	display: block;
	position: absolute;
	top: 63%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -15px;
	width: 0%;
	height: 3px;
	background: #FFFFFF;
	content: '';
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu_nav_list li a:hover
{
	color: #da8661;
}
.menu_nav_list li a:hover::after
{
	width: calc(100% + 30px);
}
.menu_review
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}
.menu_review a
{
	white-space: nowrap;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_review a:hover
{
	color: #da8661;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 446px;
}
.home_container
{
	position: absolute;
	left: 0;
	top: 205px;
	width: 100%;
}
.home_title h1
{
	font-size: 48px;
	color: #FFFFFF;
}
.home_text
{
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 2.25;
	margin-top: 12px;
}

/*********************************
6. Search Box
*********************************/

.search_box
{
	background: transparent;
}
.search_box_container
{
	width: calc(100% + 117px);
	left: -69px;
	height: 150px;
	background: #2e3f61;
	margin-top: -100px;
	box-shadow: 0px 3px 57px rgba(0,0,0,0.35);
	z-index: 1;
	padding-left: 83px;
	padding-right: 66px;
}
.search_form_container
{
	width: 100%;
}
.search_form
{
	display: block;
	width: 100%;
}
.search_form > div
{
	width: 100%;
	height: 100%;
}
.search_form_list
{
	width: calc(100% - 172px);
	height: 100%;
}
.search_form_list > li
{
	position: relative;
	width: 20%;
	height: 73px;
	cursor: pointer;
	background: #FFFFFF;
}
.search_form_list > li input{
	position: relative;
	width: 100%;
	height: 73px;
	cursor: pointer;
	border: none;
	background: #FFFFFF;
	padding: 10px;
}
.search_form_list > li:not(:last-child)
{
	border-right: solid 2px #d1d1d1;
}
.search_form_list > li::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #da8661;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_form_list > li:hover::after
{
	visibility: visible;
	opacity: 1;
}
.search_form_list > li span
{
	font-size: 13px;
	font-weight: 500;
	color: #6b6b6b;
}
.search_form_list > li i
{
	font-size: 10px;
	font-weight: 500;
	color: #a3a3a3;
}
.search_form_list > li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #FFFFFF;
	padding-left: 28px;
	padding-top: 20px;
	padding-bottom: 20px;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 3px 25px rgba(0,0,0,0.15);
	z-index: 1;
}
.search_form_list > li.active > ul
{
	visibility: visible;
	opacity: 1;
}
.search_form_list > li > ul > li:not(:last-of-type)
{
	margin-bottom: 10px;
}
.search_form_list > li > ul > li
{
	font-size: 13px;
	font-weight: 500;
	color: #a3a3a3;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_form_list > li > ul > li:hover
{
	color: #6b6b6b;
}
.search_button
{
	width: 172px;
	height: 73px;
	background: #637496;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	outline: none;
}

/*********************************
7. Contact Section
*********************************/

.contact_section
{
	background: #FFFFFF;
	padding-top: 85px;
	padding-bottom: 105px;
	border-bottom: solid 2px #ececec;
}
.contact_image
{
	width: 100%;
}
.contact_image img
{
	max-width: 100%;
}
.contact_logo .logo
{
	position: relative;
	left: auto;
	top: auto;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.contact_logo .logo a > div:first-child
{
	color: #2e3f61;
}
.contact_logo .logo a > div:last-child
{
	color: rgba(46,63,97,0.54);
}
.contact_section_text
{
	margin-top: 50px;
}
.contact_section_text p
{
	line-height: 2.25;
}
.contact_section_info
{
	margin-top: 31px;
}
.contact_section_info ul li:not(:last-of-type)
{
	margin-bottom: 12px;
}
.contact_section_info ul li > div:first-child > div
{
	width: 42px;
	height: 42px;
	background: #da8661;
	text-align: center;
}
.contact_section_info ul li > div:last-child
{
	padding-left: 22px;
	font-size: 16px;
	font-weight: 500;
	color: #717171;
}

/*********************************
9. Contact
*********************************/

.contact
{
	background: #FFFFFF;
}
.contact_map_container
{
	padding-right: 42px;
}
.contact > .container
{
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0;
}
.contact > .container > .row
{
	margin-left: 0;
	margin-right: 0;
}
.contact > .container > .row > div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}
.contact_map
{
	width: 100%;
}
.map
{
	width: 100%;
}
.google_map
{
	width: 100%;
	height: 722px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
.contact_info_box
{
	position: absolute;
	top: 70px;
	right: 123px;
	width: 367px;
	height: 341px;
	background: #FFFFFF;
	border: solid 2px #637496;
	box-shadow: 0px 21px 29px rgba(0,0,0,0.35);
}
.contact_info_list
{
	max-width: 200px;
}
.contact_info_list li:not(:last-of-type)
{
	margin-bottom: 24px;
}
.contact_info_icon
{
	width: 29px;
	height: 29px;
}
.contact_info_icon img
{
	max-width: 100%;
}
.contact_info_text
{
	padding-left: 26px;
	font-size: 14px;
	font-weight: 500;
	color: #717171;
}
.contact_form_container
{
	padding-left: 66px;
	padding-right: 141px;
}
.contact_form
{
	margin-top: 61px;
}
.contact_row > div[class^='col']
{
	margin-bottom: 17px;
}
.contact_input
{
	width: 100%;
	height: 52px;
	padding-left: 25px;
	border: solid 1px #dadfe5;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_input:focus,
.contact_input:hover
{
	border-bottom: solid 2px #da8661;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7a7a7a !important;
}
.contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7a7a7a !important;
}
.contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7a7a7a !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7a7a7a !important;
}
.contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7a7a7a !important;
}
.contact_textarea
{
	height: 190px;
	padding-top: 15px;
}
.contact_button
{
	position: relative;
	width: 230px;
	height: 64px;
	background: #637496;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	outline: none;
	margin-top: 14px;
	z-index: 1;
}
.contact_button::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	content: '';
	background: #da8661;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.contact_button:hover::before
{
	width: 100%;
}
