
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #4c5c7e;
	z-index: 100;
	border-bottom: solid 2px #da8661;
}
.header_content
{
	width: 100%;
	height: 103px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}
.logo
{
	position: absolute;
	left: -63px;
	top: 55%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
}
.logo a > div:last-child
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(255,255,255,0.54);
	line-height: 0.75;
	margin-top: 11px;
}
.main_nav
{
	margin-left: 230px;
}
.main_nav ul li
{
	height: 37px;
	padding-left: 12px;
	padding-right: 11px;
	background: transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 35px;
}
.main_nav ul li.active,
.main_nav ul li:hover
{
	background: #637496;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 37px;
	white-space: nowrap;
}
.phone
{
	height: 37px;
	padding-left: 14px;
	padding-right: 18px;
	background: #637496;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 37px;
	margin-right: 10px;
	white-space: nowrap;
}
.phone i
{
	color: #FFFFFF;
	font-size: 24px;
	margin-right: 11px;
}
.book_button
{
	width: 151px;
	height: 37px;
	background: #2e3f61;
	text-align: center;
}
.book_button:hover
{
	background: #637496;
}
.book_button a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 37px;
}
.hamburger
{
	display: none;
	cursor: pointer;
	margin-top: 5px;
}
.hamburger i
{
	font-size: 18px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger i:hover
{
	color: #d6baa0;
}

/*!**********************************/
/*4. Menu*/
/**********************************!*/

/*.menu*/
/*{*/
/*	position: fixed;*/
/*	left: 0;*/
/*	top: -100vh;*/
/*	width: 100vw;*/
/*	height: 100vh;*/
/*	background: #0b1423;*/
/*	z-index: 99;*/
/*	-webkit-transition: all 800ms cubic-bezier(.88,.31,.65,.91);*/
/*	-moz-transition: all 800ms cubic-bezier(.88,.31,.65,.91);*/
/*	-ms-transition: all 800ms cubic-bezier(.88,.31,.65,.91);*/
/*	-o-transition: all 800ms cubic-bezier(.88,.31,.65,.91);*/
/*	transition: all 800ms cubic-bezier(.88,.31,.65,.91);*/
/*}*/
/*.menu.active*/
/*{*/
/*	top: 0;*/
/*}*/
/*.menu_content*/
/*{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/
/*.menu_nav_list li*/
/*{*/
/*	-webkit-transform: translateY(-50px);*/
/*	-moz-transform: translateY(-50px);*/
/*	-ms-transform: translateY(-50px);*/
/*	-o-transform: translateY(-50px);*/
/*	transform: translateY(-50px);*/
/*	visibility: hidden;*/
/*	opacity: 0;*/
/*	-webkit-transition: all 800ms ease;*/
/*	-moz-transition: all 800ms ease;*/
/*	-ms-transition: all 800ms ease;*/
/*	-o-transition: all 800ms ease;*/
/*	transition: all 800ms ease;*/
/*}*/
/*.menu_nav_list li:first-child*/
/*{*/
/*	transition-delay: 400ms;*/
/*}*/
/*.menu_nav_list li:nth-child(2)*/
/*{*/
/*	transition-delay: 500ms;*/
/*}*/
/*.menu_nav_list li:nth-child(3)*/
/*{*/
/*	transition-delay: 600ms;*/
/*}*/
/*.menu_nav_list li:nth-child(4)*/
/*{*/
/*	transition-delay: 700ms;*/
/*}*/
/*.menu_nav_list li:nth-child(5)*/
/*{*/
/*	transition-delay: 800ms;*/
/*}*/
/*.menu_nav_list li:nth-child(6)*/
/*{*/
/*	transition-delay: 900ms;*/
/*}*/
/*.menu_nav_list li:nth-child(7)*/
/*{*/
/*	transition-delay: 1000ms;*/
/*}*/
/*.menu_nav_list li:nth-child(8)*/
/*{*/
/*	transition-delay: 1100ms;*/
/*}*/
/*.menu_nav_list li:nth-child(9)*/
/*{*/
/*	transition-delay: 1200ms;*/
/*}*/
/*.menu.active .menu_nav_list li*/
/*{*/
/*	-webkit-transform: translateY(0px);*/
/*	-moz-transform: translateY(0px);*/
/*	-ms-transform: translateY(0px);*/
/*	-o-transform: translateY(0px);*/
/*	transform: translateY(0px);*/
/*	visibility: visible;*/
/*	opacity: 1;*/
/*}*/
/*.menu_nav_list li a*/
/*{*/
/*	position: relative;*/
/*	font-family: 'Playfair Display', serif;*/
/*	font-size: 40px;*/
/*	color: #FFFFFF;*/
/*	font-weight: 400;*/
/*	line-height: 1.3;*/
/*	-webkit-transition: all 400ms ease;*/
/*	-moz-transition: all 400ms ease;*/
/*	-ms-transition: all 400ms ease;*/
/*	-o-transition: all 400ms ease;*/
/*	transition: all 400ms ease;*/
/*}*/
/*.menu_nav_list li a::after*/
/*{*/
/*	display: block;*/
/*	position: absolute;*/
/*	top: 63%;*/
/*	-webkit-transform: translateY(-50%);*/
/*	-moz-transform: translateY(-50%);*/
/*	-ms-transform: translateY(-50%);*/
/*	-o-transform: translateY(-50%);*/
/*	transform: translateY(-50%);*/
/*	left: -15px;*/
/*	width: 0%;*/
/*	height: 3px;*/
/*	background: #FFFFFF;*/
/*	content: '';*/
/*	-webkit-transition: all 400ms ease;*/
/*	-moz-transition: all 400ms ease;*/
/*	-ms-transition: all 400ms ease;*/
/*	-o-transition: all 400ms ease;*/
/*	transition: all 400ms ease;*/
/*}*/
/*.menu_nav_list li a:hover*/
/*{*/
/*	color: #da8661;*/
/*}*/
/*.menu_nav_list li a:hover::after*/
/*{*/
/*	width: calc(100% + 30px);*/
/*}*/
/*.menu_review*/
/*{*/
/*	position: absolute;*/
/*	left: 50%;*/
/*	-webkit-transform: translateX(-50%);*/
/*	-moz-transform: translateX(-50%);*/
/*	-ms-transform: translateX(-50%);*/
/*	-o-transform: translateX(-50%);*/
/*	transform: translateX(-50%);*/
/*	bottom: 15px;*/
/*}*/
/*.menu_review a*/
/*{*/
/*	white-space: nowrap;*/
/*	line-height: 1.1;*/
/*	font-size: 12px;*/
/*	font-weight: 400;*/
/*	color: #FFFFFF;*/
/*	-webkit-transition: all 200ms ease;*/
/*	-moz-transition: all 200ms ease;*/
/*	-ms-transition: all 200ms ease;*/
/*	-o-transition: all 200ms ease;*/
/*	transition: all 200ms ease;*/
/*}*/
/*.menu_review a:hover*/
/*{*/
/*	color: #da8661;*/
/*}*/

/*!**********************************/
/*5. Home*/
/**********************************!*/

.home
{
	width: 100%;
	height: 400px;
}
.home_container
{
	position: absolute;
	left: 0;
	top: 205px;
	width: 100%;
}
.home_title h1
{
	font-size: 48px;
	color: #FFFFFF;
}
.home_text
{
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 2.25;
	margin-top: 12px;
}

/*!**********************************/
/*6. Search Box*/
/**********************************!*/

.search_box
{
	background: transparent;
}
.search_box_container
{
	width: calc(100% + 117px);
	left: -69px;
	height: 150px;
	background: #2e3f61;
	margin-top: -100px;
	box-shadow: 0px 3px 57px rgba(0,0,0,0.35);
	z-index: 1;
	padding-left: 83px;
	padding-right: 66px;
}
.search_form_container
{
	width: 100%;
}
.search_form
{
	display: block;
	width: 100%;
}
.search_form > div
{
	width: 100%;
	height: 100%;
}
.search_form_list
{
	width: calc(100% - 172px);
	height: 100%;
}
.search_form_list > li
{
	position: relative;
	width: 20%;
	height: 73px;
	cursor: pointer;
	background: #FFFFFF;
}
.search_form_list > li input{
	position: relative;
	width: 100%;
	height: 73px;
	cursor: pointer;
	border: none;
	background: #FFFFFF;
	padding: 10px;
}
.search_form_list > li:not(:last-child)
{
	border-right: solid 2px #d1d1d1;
}
.search_form_list > li::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #da8661;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_form_list > li:hover::after
{
	visibility: visible;
	opacity: 1;
}
.search_form_list > li span
{
	font-size: 13px;
	font-weight: 500;
	color: #6b6b6b;
}
.search_form_list > li i
{
	font-size: 10px;
	font-weight: 500;
	color: #a3a3a3;
}
.search_form_list > li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #FFFFFF;
	padding-left: 28px;
	padding-top: 20px;
	padding-bottom: 20px;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 3px 25px rgba(0,0,0,0.15);
	z-index: 1;
}
.search_form_list > li.active > ul
{
	visibility: visible;
	opacity: 1;
}
.search_form_list > li > ul > li:not(:last-of-type)
{
	margin-bottom: 10px;
}
.search_form_list > li > ul > li
{
	font-size: 13px;
	font-weight: 500;
	color: #a3a3a3;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_form_list > li > ul > li:hover
{
	color: #6b6b6b;
}
.search_button
{
	width: 172px;
	height: 73px;
	background: #637496;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	outline: none;
}


/*!**********************************/
/*7. Intro*/
/**********************************!*/

/*.intro_right*/
/*{*/
/*	background: #FFFFFF;*/
/*	padding-top: 95px;*/
/*}*/
/*.intro > .container*/
/*{*/
/*	max-width: 100%;*/
/*	padding-left: 0;*/
/*	padding-right: 0;*/
/*}*/
/*.intro > .container > .row*/
/*{*/
/*	margin-left: 0;*/
/*	margin-right: 0;*/
/*}*/
/*.intro > .container > .row > div[class^='col']*/
/*{*/
/*	padding-left: 0;*/
/*	padding-right: 0;*/
/*}*/
/*.intro_image*/
/*{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/
/*.intro_right_content*/
/*{*/
/*	padding-top: 51px;*/
/*	padding-left: 95px;*/
/*	padding-right: 115px;*/
/*	padding-bottom: 50px;*/
/*}*/
/*.intro_right_text*/
/*{*/
/*	font-size: 18px;*/
/*	font-weight: 400;*/
/*	color: #717171;*/
/*	line-height: 1.88;*/
/*	margin-top: 80px;*/
/*}*/
/*.sig*/
/*{*/
/*	margin-top: 94px;*/
/*}*/
/*.intro_left_content*/
/*{*/
/*	padding-top: 140px;*/
/*	padding-left: 80px;*/
/*	padding-right: 40px;*/
/*	padding-bottom: 151px;*/
/*}*/
/*.intro_left_content .section_title_container*/
/*{*/
/*	padding-left: 15px;*/
/*	padding-right: 15px;*/
/*}*/
/*.icon_box_row*/
/*{*/
/*	margin-top: 89px;*/
/*}*/
/*.icon_box_icon*/
/*{*/
/*	width: 43px;*/
/*	height: 43px;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*}*/
/*.icon_box_icon img*/
/*{*/
/*	max-width: 100%;*/
/*}*/
/*.icon_box_title*/
/*{*/
/*	margin-top: 41px;*/
/*}*/
/*.icon_box_text*/
/*{*/
/*	margin-top: 27px;*/
/*}*/
/*.icon_box_text p*/
/*{*/
/*	font-size: 14px;*/
/*	line-height: 2.14;*/
/*}*/

/*!*!**********************************!*/
/*!*8. Milestones*!*/
/*!**********************************!*!*/

/*!*.milestones*!*/
/*!*{*!*/
/*!*	background: #FFFFFF;*!*/
/*!*	padding-top: 99px;*!*/
/*!*	padding-bottom: 99px;*!*/
/*!*	border-bottom: solid 2px #ececec;*!*/
/*!*}*!*/
/*!*.milestone_icon*!*/
/*!*{*!*/
/*!*	width: 82px;*!*/
/*!*	height: 82px;*!*/
/*!*}*!*/
/*!*.milestone_icon img*!*/
/*!*{*!*/
/*!*	max-width: 100%;*!*/
/*!*}*!*/
/*!*.milestone_content*!*/
/*!*{*!*/
/*!*	padding-left: 15px;*!*/
/*!*}*!*/
/*!*.milestone_counter*!*/
/*!*{*!*/
/*!*	font-family: 'Alike', serif;*!*/
/*!*	font-size: 36px;*!*/
/*!*	color: #2e3f61;*!*/
/*!*	line-height: 0.75;*!*/
/*!*}*!*/
/*!*.milestone_text*!*/
/*!*{*!*/
/*!*	font-size: 14px;*!*/
/*!*	color: #717171;*!*/
/*!*	font-weight: 500;*!*/
/*!*	line-height: 0.75;*!*/
/*!*	margin-top: 21px;*!*/
/*!*}*!*/

/*!**********************************/
/*9. Newsletter*/
/**********************************!*/

/*.newsletter*/
/*{*/
/*	background: #FFFFFF;*/
/*	padding-top: 95px;*/
/*	padding-bottom: 90px;*/
/*}*/
/*.newsletter_row*/
/*{*/
/*	margin-top: 11px;*/
/*}*/
/*.newsletter_form*/
/*{*/
/*	display: block;*/
/*}*/
/*.newsletter_input*/
/*{*/
/*	width: 100%;*/
/*	height: 52px;*/
/*	border: solid 1px #dadfe5;*/
/*	border-bottom: solid 2px #da8661;*/
/*	outline: none;*/
/*	padding-left: 25px;*/
/*}*/
/*.newsletter_input::-webkit-input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 400 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.newsletter_input:-moz-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 400 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.newsletter_input::-moz-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 400 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.newsletter_input:-ms-input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 400 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.newsletter_input::input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 400 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.newsletter_button*/
/*{*/
/*	position: absolute;*/
/*	top: 0;*/
/*	right: 0;*/
/*	width: 151px;*/
/*	height: 52px;*/
/*	background: #637496;*/
/*	z-index: 1;*/
/*	border: none;*/
/*	outline: none;*/
/*	font-size: 14px;*/
/*	color: #FFFFFF;*/
/*	text-transform: uppercase;*/
/*	font-weight: 500;*/
/*	cursor: pointer;*/
/*}*/
/*.newsletter_button::before*/
/*{*/
/*	display: block;*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 0%;*/
/*	height: 100%;*/
/*	content: '';*/
/*	background: #da8661;*/
/*	z-index: -1;*/
/*	-webkit-transition: all 200ms ease;*/
/*	-moz-transition: all 200ms ease;*/
/*	-ms-transition: all 200ms ease;*/
/*	-o-transition: all 200ms ease;*/
/*	transition: all 400ms ease;*/
/*}*/
/*.newsletter_button:hover::before*/
/*{*/
/*	width: 100%;*/
/*}*/

/*!**********************************/
/*10. Contact*/
/**********************************!*/

/*.contact*/
/*{*/
/*	background: #FFFFFF;*/
/*}*/
/*.contact_map_container*/
/*{*/
/*	padding-right: 42px;*/
/*}*/
/*.contact > .container*/
/*{*/
/*	max-width: 100%;*/
/*	padding-left: 0px;*/
/*	padding-right: 0;*/
/*}*/
/*.contact > .container > .row*/
/*{*/
/*	margin-left: 0;*/
/*	margin-right: 0;*/
/*}*/
/*.contact > .container > .row > div[class^='col']*/
/*{*/
/*	padding-left: 0;*/
/*	padding-right: 0;*/
/*}*/
/*.contact_map*/
/*{*/
/*	width: 100%;*/
/*}*/
/*.map*/
/*{*/
/*	width: 100%;*/
/*}*/
/*.google_map*/
/*{*/
/*	width: 100%;*/
/*	height: 722px;*/
/*}*/
/*.map_container*/
/*{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	overflow: hidden;*/
/*}*/
/*#map*/
/*{*/
/*	width: 100%;*/
/*	height: calc(100% + 30px);*/
/*}*/
/*.contact_info_box*/
/*{*/
/*	position: absolute;*/
/*	top: 70px;*/
/*	right: 123px;*/
/*	width: 367px;*/
/*	height: 341px;*/
/*	background: #FFFFFF;*/
/*	border: solid 2px #637496;*/
/*	box-shadow: 0px 21px 29px rgba(0,0,0,0.35);*/
/*}*/
/*.contact_info_list*/
/*{*/
/*	max-width: 200px;*/
/*}*/
/*.contact_info_list li:not(:last-of-type)*/
/*{*/
/*	margin-bottom: 24px;*/
/*}*/
/*.contact_info_icon*/
/*{*/
/*	width: 29px;*/
/*	height: 29px;*/
/*}*/
/*.contact_info_icon img*/
/*{*/
/*	max-width: 100%;*/
/*}*/
/*.contact_info_text*/
/*{*/
/*	padding-left: 26px;*/
/*	font-size: 14px;*/
/*	font-weight: 500;*/
/*	color: #717171;*/
/*}*/
/*.contact_form_container*/
/*{*/
/*	padding-left: 66px;*/
/*	padding-right: 141px;*/
/*}*/
/*.contact_form*/
/*{*/
/*	margin-top: 61px;*/
/*}*/
/*.contact_row > div[class^='col']*/
/*{*/
/*	margin-bottom: 17px;*/
/*}*/
/*.contact_input*/
/*{*/
/*	width: 100%;*/
/*	height: 52px;*/
/*	padding-left: 25px;*/
/*	border: solid 1px #dadfe5;*/
/*	outline: none;*/
/*	-webkit-transition: all 200ms ease;*/
/*	-moz-transition: all 200ms ease;*/
/*	-ms-transition: all 200ms ease;*/
/*	-o-transition: all 200ms ease;*/
/*	transition: all 200ms ease;*/
/*}*/
/*.contact_input:focus,*/
/*.contact_input:hover*/
/*{*/
/*	border-bottom: solid 2px #da8661;*/
/*}*/
/*.contact_input::-webkit-input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 500 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.contact_input:-moz-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 500 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.contact_input::-moz-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 500 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.contact_input:-ms-input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 500 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.contact_input::input-placeholder*/
/*{*/
/*	font-size: 12px !important;*/
/*	font-weight: 500 !important;*/
/*	font-style: italic;*/
/*	color: #7a7a7a !important;*/
/*}*/
/*.contact_textarea*/
/*{*/
/*	height: 190px;*/
/*	padding-top: 15px;*/
/*}*/
/*.contact_button*/
/*{*/
/*	position: relative;*/
/*	width: 230px;*/
/*	height: 64px;*/
/*	background: #637496;*/
/*	color: #FFFFFF;*/
/*	font-size: 14px;*/
/*	font-weight: 500;*/
/*	text-transform: uppercase;*/
/*	cursor: pointer;*/
/*	border: none;*/
/*	outline: none;*/
/*	margin-top: 14px;*/
/*	z-index: 1;*/
/*}*/
/*.contact_button::before*/
/*{*/
/*	display: block;*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 0%;*/
/*	height: 100%;*/
/*	content: '';*/
/*	background: #da8661;*/
/*	z-index: -1;*/
/*	-webkit-transition: all 200ms ease;*/
/*	-moz-transition: all 200ms ease;*/
/*	-ms-transition: all 200ms ease;*/
/*	-o-transition: all 200ms ease;*/
/*	transition: all 400ms ease;*/
/*}*/
/*.contact_button:hover::before*/
/*{*/
/*	width: 100%;*/
/*}*/

/*!**********************************/
/*11. Footer*/
/**********************************!*/

/*.footer*/
/*{*/
/*	display: block;*/
/*	width: 100%;*/
/*	background: #2e3f61;*/
/*}*/
/*.footer_content*/
/*{*/
/*	width: 100%;*/
/*	height: 104px;*/
/*}*/
/*.footer_button*/
/*{*/
/*	background: #da8661;*/
/*}*/
/*.footer_button::before*/
/*{*/
/*	background: #637496;*/
/*}*/
/*.copyright*/
/*{*/
/*	font-size: 14px;*/
/*	font-weight: 500;*/
/*	color: rgba(164,174,195,0.4);*/
/*}*/
/*.footer_logo*/
/*{*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	left: 50%;*/
/*	-webkit-transform: translate(-50%, -50%);*/
/*	-moz-transform: translate(-50%, -50%);*/
/*	-ms-transform: translate(-50%, -50%);*/
/*	-o-transform: translate(-50%, -50%);*/
/*	transform: translate(-50%, -50%);*/
/*}*/
/*.footer_logo .logo*/
/*{*/
/*	opacity: 0.55;*/
/*}*/